---
type Props = {
	country: string;
	count: number;
	link?: string;
};

const { country, count, link } = Astro.props;
---

<li class="flex p-2 justify-between">
	{link ? (
		<>
			<a href={link} class="text-orange font-bold">
				<strong>{country}</strong>
			</a>
			<a href={link} class="text-orange">
				<span>{count}</span>
			</a>
		</>
	) : (
		<>
			<span>{country}</span>
			<span>{count}</span>
		</>
	)}
</li>

