---
import speciesPhotos from "../../public/lifelist_date_sorted.json";
import { getCountryName } from "../helpers/ebird.js";
const profileId = import.meta.env.SNOWPACK_PUBLIC_EBIRD_PROFILE_ID;
const totalCount = speciesPhotos.length;
const request = await fetch(`https://ebird.org/prof/count/species?username=${profileId}&r=world`);
const json = await request.json();
const countries = json.map(country => ({ code: country[0], count: parseInt(country[1]) }));
countries.sort((a, b) => b.count - a.count);
---
<div class="sidebar">
	<div class="bio">
		<img class="avatar" src="/avatar.jpg" alt=""/>
		<div>
			<h4>Adam Jackson</h4>
			<p>I'm a web developer that loves chasing rare birds around world. I developed an interest in bird photography at the age of 12 while living in Tasmania and started getting more serious about birding in 2016.</p>
		</div>
	</div>
	<h4 class="mt">Birding Life List</h4>

	<details class="country-totals">
		<summary>
			<ol>
				<li>
					<a href="/lifelist/"><strong>World</strong></a>
					<a href="/lifelist/"><span>{totalCount}</span></a>
				</li>
				{countries.slice(0,5).map(({code, count}) => (
					<li>
						<span>{getCountryName(code)}</span>
						<span>{count}</span>
					</li>
				))}
			</ol>
			<div class="expand">View More</div>
		</summary>
		<ol>
			{countries.slice(5).map(({code, count}) => (
				<li>
					<span>{getCountryName(code)}</span>
					<span>{count}</span>
				</li>
			))}
		</ol>
	</details>
</div>
